<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.sheetjs.com/xlsx-0.20.0/package/dist/xlsx.full.min.js"></script>

</head>

<body>
  <div id="app">
    Серия билета <input type="text" v-model="ticket_series">
    <hr>
    <ol>
      <li v-for="row in rows">
        <input type="text" v-model="row.seats">
        <input type="text" v-model="row.price">
      </li>
      <button @click="add_row">Добавить ряд</button>
    </ol>
    <hr>
    <button @click="export_xlsx">Скачать Excel-файл</button>
  </div>

  <script src="app.js"></script>
</body>

</html>